# Aplicação
NODE_ENV=development
PORT=3000

# Banco de dados (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=tecsus
DB_PASSWORD=tecsus
DB_NAME=tecsus

# Mostra no console o SQL gerado pelo TypeORM
DB_LOGGING=false
